.scores {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background : #f08;
    color: white;
    width: fit-content;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    vertical-align: center  ;
    padding: 5px 5px 5px 5px;
}

.logo {
    color: goldenrod;
    
}
